.profile {
    width: 320px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 20px;
}

.avatar {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.name {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.user_text {
    margin-bottom: 5px;
    color: #929292;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stats_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border: 1px solid #e7e7e7;
    padding: 20px;
    background-color: #eeeeee;
}

.stats_text {
    font-size: 12px;
    color: #929292;
}

.stats_numbers {
    font-size: 15px;
    font-weight: 600;
}